html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/*background-color: #D3EBFA;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

header {
	background-color: #FFECD5;
	padding: 1vh 1vh;
	text-align: center;
}

header > p {
	font-size: 1.6rem;
	font-style: italic;
}

footer {
	background-color: #FFECD5;
	margin: 0;
	height: 40px;
	padding: 1vh 1vh;
	text-align: center;
}

footer > p {
	font-size: 1.25rem;
}

main {
	background-color: #D3EBFA;
	margin: 0 auto;
	max-width: 1200px;
	padding: 5% 5%;
	text-align: center;
}

h1 {
	font-size: 3rem;
	text-shadow: 2px 2px 2px grey;
	text-transform: uppercase;
	line-height: 3rem;
}

h2 {
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 0;
}

h3#myAdvice {
	color: red;
	font-family: 'Caveat', cursive;
	font-size: 2.5rem;
	margin: 20px auto;
}

input#ageTyped {
	border: 1px solid lightgrey;
	border-radius: 4px;
	box-shadow: inset 3px 3px 3px darkgrey;
	font-size: 1.2rem;
	height: 2rem;
	line-height: 1.7rem;
	text-align: right;
	width: 30%;
}

button {
	border: 1px solid lightgrey;
	border-radius: 4px;
	box-shadow: 3px 3px 3px darkgrey;
	font-size: 1rem;
	line-height: 1.2rem;
	margin-top: 10px;
	padding: 5px 0;
	width: 200px;
}

button:hover {
	background-color: #3ea7ea;
	color: white;
}

.piece-of-advice + div {
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 3px grey;
	height: 200px;
	margin: 0 auto;
	width: 200px;
}

@media only screen and (min-width: 900px) {
	.piece-of-advice + div {
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 400px 400px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 3px grey;
	height: 400px;
	margin: 0 auto;
	width: 400px;
	}
}


